// h1 {
//   font-size: 30px;
// }
//
// .small-img {
//   width: 300px;
// }

#App {
  max-width: 1500px;
  max-height: 1200px;
  margin:  auto;
  height: 100%;
}

.dragging {
  width: 200px;
  height: 200px;
  background-color: #F1EEE8;
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid #303030 4px;

  p {
    width: 70%;
    font-family: 'News Cycle';
    font-size: 10px;

  }

  img {
    max-height: 100%;
    max-width: 100%;
    opacity: .3;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
