@font-face {
  src: url('../assets/fonts/Avenir-Heavy.ttf');
  font-family:'Avenir-Heavy';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Avenir-Medium.ttf');
  font-family:'Avenir-Medium';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Avenir-Book.ttf');
  font-family:'Avenir-Book';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/FuturaPT-Book.ttf');
  font-family:'Futura PT';
  // font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Canela-Medium.otf');
  font-family:'Canela-Medium';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Canela-Regular.otf');
  font-family:'Canela-Regular';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Canela-Light.otf');
  font-family:'Canela-Light';
  font-style: normal;
}

// @font-face {
//   src: url('../assets/fonts/Canela-Thin.otf');
//   font-family:'Canela-Thin';
//   font-style: normal;
// }

@font-face {
  src: url('../assets/fonts/Brandon-Grotesque-Medium.ttf');
  font-family:'Brandon-Grotesque-Medium';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Brandon-Grotesque-Bold.ttf');
  font-family:'Brandon-Grotesque-Bold';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Brandon-Grotesque-Regular.ttf');
  font-family:'Brandon-Grotesque-Regular';
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Brandon-Grotesque-Light.ttf');
  font-family:'Brandon-Grotesque-Light';
  font-style: normal;
}

// @font-face {
//   src: url('../assets/fonts/Brandon-Grotesque-Thin.ttf');
//   font-family:'Brandon-Grotesque-Thin';
//   font-style: normal;
// }

@font-face {
  src: url('../assets/fonts/Didot-Italic.ttf');
  font-family:'Didot-Italic';
  font-style: normal;
}
