#align-btns {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,.5);

  figure {
    width: 33.3%;
    @include flexCenter

    &.active {
      background-color: rgba(255, 255, 255, .3);
      border-bottom: solid rgba(255, 255, 255, 0) 2px;
    }

    p {
      color: white;
      font-family: 'Brandon-Grotesque-Bold';
      font-size: 1vh;
      letter-spacing: 2px;
    }

    div {
      width: 50%;
      height: 45%;
      border: solid white 1px;
      border-radius: 10%;
      padding: 4%;

      span {
        width: 45%;
        height: 100%;
        display: block;
        border: solid white 1px;
        border-radius: 10%;
      }

      &#center {
        display: flex;
        justify-content: center;
      }

      &#right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
