#dnd-grid-cont {
  z-index: 6;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;

  header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 4vh;

    figure {
      display: flex;
      align-items: flex-end;

      div {
        font-size: 20px;
        font-weight: 100;
        &:nth-child(1) {
          font-size: 13px;
          margin-right: 15px;
        }

        &:nth-child(7) {
          margin-left: 13px;
        }
      }

      .dot {
        background-color: black;
        border-radius: 50%;
        border-radius: 2px;
        opacity: .1;
        margin-right: 4px;

        &.active {
          opacity: 1;
        }

        &:nth-child(2) {
          width: 5px;
          height: 5px;
        }

        &:nth-child(3) {
          width: 8px;
          height: 8px;
        }

        &:nth-child(4) {
          width: 11px;
          height: 11px;
        }

        &:nth-child(5) {
          width: 14px;
          height: 14px;
        }

        &:nth-child(6) {
          width: 17px;
          height: 17px;
        }
      }
    }

    p {
      font-family: 'Futura PT';
      font-family: 'Brandon-Grotesque-Bold';
      letter-spacing: 1px;
      font-size: 12px;
      color: #505050;
    }

    img {
      height: 50%;
      margin-left: 100px;
    }
  }

  ul {
    height: 90%;
    padding: 0 3vh;
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    overflow: scroll;

    li {
      background-color: #F1EEE8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .grid-card {
      justify-content: flex-end;
      padding-bottom: 20px;
      text-align: center;

      h3 {
        width: 75%;
        margin-bottom: .5vh;
        font-family: 'Brandon-Grotesque-Medium';
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      p {
        width: 75%;
        font-family: sans-serif;
        font-weight: 300;
      }
    }
  }
}
