&.select {
  #preview-overlay {
    background: rgba(0,0,0,.3);
    box-shadow: inset 0px 0px 100px 50px rgba(0,0,0,.5);
  }
}

&.align {
  #preview-overlay {
    background: rgba(0,0,0,.3);
    box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,.4);
  }
}

&.phone {
  #preview-overlay {
    background: rgba(0,0,0,.3);
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,.2);
  }
}
