@import './addNewProject';

#uploader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  @include flexCenter;
  z-index: 3;

  #backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    filter: blur(10px) brightness(.5);
  }
  //
  // #uploader-overlay {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 0;
  // }

  #upl-container {
    position: relative;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 30px 60px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
    padding: 0 1vw 0 1vw;
    font-family: 'Brandon-Grotesque-Bold';
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: white;

    h2 {
      font-size: 13px;
      margin: 20px 0 .5% 0;
      padding-left: 1%;
      text-transform: uppercase;
      grid-row: 1;
    }

    #close-btn {
      height: 14px;
      grid-column: 3;
      justify-self: end;
      margin-top: 12px
    }

    #drop-area {
      position: relative;
      width: 100%;
      background: rgba(255,255,255,.3);
      border-radius: .5vh;
      overflow: scroll;
      grid-column: 1/4;
      grid-row: 2;

      &.highlight {
        background: rgba(255,255,255,.8);
      }

      p {
        position: absolute;
        bottom: 3%;
        left: 1.5%;
      }

      .upload-img-prev {
        height: 20vh;
        margin: 2vh;
      }
    }

    figure {
      display: flex;
      align-items: center;
      grid-column: 1/4;
      grid-row: 3;

      p {
        margin-left: 1.5%;
      }
    }

    #btn-cont {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-column: 1/4;
      grid-row: 4;

      #done-btn {
        opacity: .3;
        background: white;

        &.active {
          opacity: 1;
          cursor: pointer;
        }
      }

      label, button {
        color: #505050;
        border-radius: .5vh;
        cursor: pointer;
        padding: 1% 1.5% .75% 1.5%;
      }

      label {
        border: solid white 1px;
        color: white;
      }

      button {
        opacity: .2;
        pointer-events: none;
        letter-spacing: 1px;

        &.active {
          opacity: 1;
          background: rgb(176, 231, 255);
          pointer-events: all;
        }
      }

      input {
        width: 0.1px;
      	height: 0.1px;
      	opacity: 0;
      	overflow: hidden;
      	position: absolute;
      	z-index: -1;
      }
    }
  }
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  #uploader {
    backdrop-filter: blur(20px) brightness(.9);
    -webkit-backdrop-filter: blur(20px);
    filter: blur(0px);

  }
}
