#upload-spinner {
  h1 {
    font-family: 'Brandon-Grotesque-Medium';
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    letter-spacing: .5vw;

    span {
      margin-left: .5vw;
    }

    #e1 {
      animation: e1 1.5s  infinite ease-in-out;
    }

    #e2 {
      animation: e2 1.5s  infinite ease-in-out;
    }

    #e3 {
      animation: e3 1.5s  infinite ease-in-out;
    }
  }
}

@keyframes e1 {
  0% {opacity: 1}
  23% {opacity: 1}
  43% {opacity: 1}
  53% {opacity: 0}
  100% {opacity: 0}
}

@keyframes e2 {
  0% {opacity: 0}
  23% {opacity: 0}
  43% {opacity: 1}
  63% {opacity: 1}
  83% {opacity: 0}
  100% {opacity: 0}
}

@keyframes e3 {
  0% {opacity: 0}
  56% {opacity: 0}
  66% {opacity: 1}
  86% {opacity: 1}
  100% {opacity: 0}
}
